In [2]:
import pandas as pd

In [7]:
train = pd.read_csv("../data/travel_insurance/train.csv")
train

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No
...,...,...,...,...,...,...,...,...,...,...
1585,W9JDK752JWHA,29,Private Sector/Self Employed,Yes,600000,3,0,No,No,No
1586,2JEE5P5T9MT0,34,Private Sector/Self Employed,Yes,850000,3,1,No,Yes,No
1587,797K83M5QWO2,34,Private Sector/Self Employed,No,1300000,4,0,No,No,No
1588,8V9QYC8TCCMF,33,Government Sector,Yes,400000,5,0,No,No,No
1589,8VEME4MXPTBC,28,Private Sector/Self Employed,Yes,750000,5,1,Yes,No,No

In [13]:
Q1 = f"{train.shape[0]} {train.shape[1]}"
Q1

'1590 10'

In [16]:
Q2 = int(train['AnnualIncome'].mean())
Q2

928553

In [21]:
Q3 = train[train['EverTravelledAbroad'] == "Yes"].shape[0]
Q3

302

In [27]:
J1 = (train[train['Employment Type'] == "Government Sector"].shape[0] / train.shape[0]) * 100
J2 = (train[train['Employment Type'] == "Private Sector/Self Employed"].shape[0] / train.shape[0]) * 100
Q4 = f"Government Sector {J1:.2f}" if J1 > J2 else f"Private Sector/Self Employed {J2:.2f}"
Q4

'Private Sector/Self Employed 72.64'

In [44]:
Q5 = train[(train['ChronicDiseases'] == 1) & (train['TravelInsurance'] == 'Yes')].shape[0] * 100 / train[train['ChronicDiseases'] == 1].shape[0]
Q5 = f"{Q5:.2f}"
Q5

'37.53'

In [50]:
print(f"{Q1}\n{Q2}\n{Q3}\n{Q4}\n{Q5}")

1590 10
928553
302
Private Sector/Self Employed 72.64
37.53